.App{
  position: relative;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  background-color: #262626;
  color: #fff;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #fff;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, p{
  margin: 0;
}

.page-container{
  margin-top: 65px;
  padding: 16px;
}