.Details_payment	{
	display: flex;
	flex-direction: column;
	justify-content: left;
	background-color: #2c2c2c;
	border: 2px solid #161616;
	border-radius: 10px;
	padding: 20px;
}

.Details_payment p{
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 14px;
}
