.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter .inc,
.counter .dec{
    padding: 2px;
    font-size: 22px;
    width: 30px;
    background-color: orange;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    color: #000;
}

.counter .val{
    font-size: 22px;
    margin: 0 10px;
    width: 100%;
    text-align: center;
    padding: 2px;
    color: #000;
    background-color: orange;
    border-radius: 2px;
}